<a href="https://colab.research.google.com/github/alexisnpavlik/Job-listing-Query/blob/main/SONIC_Experiment_Alexis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Set Up

In [1]:
# Prepare the environment
%%capture
from google.colab import drive, auth
drive.mount('/content/drive')
%cd /content/drive/MyDrive/python-library
!pip install .
!sudo apt-get install python-pymysql
!pip install colab-env
!pip install Hashids
import colab_env
%cd /content
import nltk
nltk.download('stopwords')
import gallifrey
import pandas as pd
import numpy as np
import time
from hashids import Hashids

#Set up for Hash calculation
hasher = Hashids("jS5qAlR0kHbAeqeuVowPBnyotKuTvvlGzIzkEtz79XQGB7BJHb", 
                 8, 
                 "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890")

# Authenticate
auth.authenticate_user()
import gspread
from oauth2client.client import GoogleCredentials as GC
gc = gspread.authorize(GC.get_application_default())

# create, and save df
from gspread_dataframe import set_with_dataframe

Go to the following link in your browser:

    https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=32555940559.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=openid+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcloud-platform+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fappengine.admin+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcompute+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Faccounts.reauth+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive&state=qSoJLfrBG1wlIL8EfM4hI6nC8v09NG&prompt=consent&access_type=offline&code_challenge=CzeqOqDKhkt1__KVJjYF7QWN7RZ08GRIJARv2vmgLhI&code_challenge_method=S256

Enter verification code: 4/1AX4XfWh6XgKmQiq-ibpCDTfLVrRu_AA7NMQB4B0IV4tPPPwZMdq4UtkX6cs

## Manual Update

#### Query

In [63]:
!rm -r Job-listing-Query
!git clone https://github.com/alexisnpavlik/Job-listing-Query.git

main_query=open("""/content/Job-listing-Query/main_query.sql""", 'r').read()
organizations_query=open("""/content/Job-listing-Query/organizations_query.sql""", 'r').read()

Cloning into 'Job-listing-Query'...
remote: Enumerating objects: 265, done.
remote: Counting objects: 100% (265/265), done.
remote: Compressing objects: 100% (184/184), done.
remote: Total 265 (delta 160), reused 180 (delta 79), pack-reused 0
Receiving objects: 100% (265/265), 38.73 KiB | 4.30 MiB/s, done.
Resolving deltas: 100% (160/160), done.

In [64]:
start_time=time.time()
main = pd.DataFrame(gallifrey.discovery.execute_query(main_query))
organizations_df = pd.DataFrame(gallifrey.solar.execute_query(organizations_query))
print('Tiempo de ejecuci√≥n:',time.time()-start_time,'s')

Tiempo de ejecuci√≥n: 211.76552295684814 s

In [65]:
main_df = main.copy(deep=True)
main_df

           ID  ... Sharing token
0     1854259  ...  8m9uyYRgfLzK
1     1844230  ...  Byq97rdFvc6A
2     1844224  ...  ecRBwFZBD0f6
3     1844222  ...  H0l5WuzmplNA
4     1844221  ...  bzCg2dkmMqC6
...       ...  ...           ...
3906    44516  ...  Bh2XHUXmeVAx
3907    44274  ...  RFP8bUKMD1gD
3908    39762  ...  Z9eRj6gJpRVC
3909     8683  ...  VRbyNQ4TJJ16
3910     5634  ...  LB4PWPwcQC2J

[3911 rows x 23 columns]

In [66]:
organizations_df.head(10)

   Company_id                                            Company
0      795908
1      773085                     0 2 Convergencia Digital S A S
2      763230                                      2 Way Sports
3      795148                               23Ky Colombia S.A.S.
4      891553                                        60 Decibels
5      760653                                   Aberdare College
6      761403                  Absolute Computer Solutions, Inc.
7      805948                                         ABUSA Lab
8      786038   Academia de Ingl√©s de la Universidad de Tarapac√°
9      786905                            Academia de M√∫sica DEUS

In [67]:
# Alfa ID Generator
def alfa_id(id):
  return hasher.encode(id)

# URL Generator
def url_generator(id):
  return 'https://torre.co/postings/'+hasher.encode(id)

# Manager URL Generator
def manager_generator(id):
  return 'https://torre.co/postings/'+hasher.encode(id)+'/members-list?sharingToken='

# Transforms columns
main_df.insert(1,"Alfa ID", main_df['ID'].apply(alfa_id),True)
main_df.insert( 2,"URL", main_df['ID'].apply(url_generator),True)

main_df.insert( 6,"Manager link", 'https://torre.co/postings/'+ main_df['Alfa ID'] +'/members-list?sharingToken='+ main_df['Sharing token'] ,True)

In [68]:
opportunities_df = pd.merge(left=main_df,right=organizations_df)

opportunities_df = opportunities_df.reindex(columns=['ID','Job title','Company','Alfa ID','location','Created date','Approved date','Commited date','Applicant Acquisition Coordinator','Type of job',
                                             'Type of service','URL','Manager link','Language of the post','Status','Mutual Matches','Disqualified','Last changes','Closing Date',
                                             'Completed Applications','Incomplete applications','Others','Active','Pending for review','Hires'])

In [69]:
sheet = gc.open_by_url('https://docs.google.com/spreadsheets/d/1V1RkMTrOFEQLsYGJaA9KukO9fgtgf6uwG8o-QHrkk2Q/edit#gid=0').sheet1

sheet.clear()

set_with_dataframe(sheet, opportunities_df)

# Update Google Sheet

In [ ]:
sheet = gc.open_by_url('https://docs.google.com/spreadsheets/d/1V1RkMTrOFEQLsYGJaA9KukO9fgtgf6uwG8o-QHrkk2Q/edit#gid=0').sheet1

sheet.clear()

set_with_dataframe(sheet, opportunities_df)

# Save to Google drive

##### Save csv

In [ ]:
drive.mount('/content/drive')

In [ ]:
opportunities_df.to_csv('/content/drive/My Drive/Data_studio_dataset/Dataset.csv',index=False,encoding='utf-8')

##### Save  Excel

In [ ]:
drive.mount('/content/drive')

In [ ]:
opportunities_df.to_excel('/drive/My Drive/Data_studio_dataset/Dataset.xls',index=False,encoding='utf-8')

# Testing

In [ ]:
query_testing = """

select id as 'Company_id', name as 'Company' from organizations ;

"""

In [ ]:
Testing = pd.DataFrame(gallifrey.solar.execute_query(query_testing))

### Update Google Sheet

In [ ]:
sheet = gc.open_by_url('https://docs.google.com/spreadsheets/d/1V1RkMTrOFEQLsYGJaA9KukO9fgtgf6uwG8o-QHrkk2Q/edit#gid=0').sheet1

sheet.clear()

set_with_dataframe(sheet, Testing)

In [ ]:
Testing.head()

   Company_id                          Company
0      795908
1      773085   0 2 Convergencia Digital S A S
2      763230                    2 Way Sports
3      795148             23Ky Colombia S.A.S.
4      891553                      60 Decibels